@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
  text-align: center;
}

.App {
  background: rgba(0, 0, 0, 0.75);
  color: white;
}

.signup-title {
  margin-top: 0;
  margin-bottom: 16px;;
  padding-top: 30px;
  font-weight: 600;
  font-size: 32px;
  line-height: 47px;
}

.signup-container {
  margin: 0 20px;
}

.signup-body {
  background: #030F37;
  padding: 0 25px;
  overflow: auto;
  height: 67vh;
  font-family: 'Inter', sans-serif;
}

.signup-subtitle {
  font-size: 18px;
  line-height: 40px;
  font-weight: 300;
/* or 222% */

  text-align: center;
  letter-spacing: -0.03em;
}

.benefit-text {
  font-weight: normal;
  width: 230px;
  font-size: 20px;
  line-height: 40px;
/* or 200% */

  text-align: center;
  letter-spacing: -0.03em;
  margin-bottom: 0;
}

.benefit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 37px;
}

input[type=text] {
    width: 100%;
    background: transparent;
    border-color: white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-bottom: 30px;
    color: white;
    height: 35px;
}

::placeholder {
  color: white;
  font-size: 15px;
  line-height: 21px;
}

.signup-subscription {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
  width: 253px;
}

.signup-subscription label {
  display: flex;
  margin-right: 30px;
  flex-direction: row-reverse;
}

.subscription-title {
  text-align: left;
  font-size: 20px;
  line-height: 40px;
/* identical to box height, or 200% */

  letter-spacing: -0.03em;
  margin-top: 0;
  margin-bottom: 14px;
}

.benefit-paragraph {
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
/* identical to box height, or 200% */

text-align: center;
letter-spacing: -0.03em;
}

.liftoff-button {
  margin-top: 50px;
  margin-bottom: 35px;
  width: 255px;
  height: 60px;
  font-size: 25px;
  line-height: 30px;
  color: white;
  background: #AD0707;
  border-radius: 18px;
  border: none;
}

.signup-policy-statement {
  font-size: 15px;
  font-style: normal;
  line-height: 21px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 15px;
}

.signup-spam-statement {
  font-size: 15px;
  margin: 0;
  padding-bottom: 40px;
}

/* ===================== Modal ========================== */
.modal-overlay {
  position: fixed;
  inset: 0px;
  background-color: rgba(255, 255, 255, 0.75);
  overflow: hidden;
}

.modal-content {
  position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    outline: none;
    /* padding: 20px; */
    color: white;
}

.signup-header {
  /* background: rgba(0, 0, 0, 0.75); */
  padding-bottom: 12px;
  background-color: transparent;
}

.modal-close-button {
  margin-top: 30px;
  text-align: right;
}

.modal-close-button button {
  background-color: transparent;
  outline: none;
  border: none;
}

.modal-close-button button img {
  width: 14px;
}

.modal-logo {
  margin-top: 50px;
}

.thankyou-body {
  height: auto;
}

.thankyou-title {
  margin-top: 35px;
  margin-bottom: 11px;
}

.thankyou-subtitle2 {
  margin-bottom: 75px;
}