@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
  font-family: 'SF Compact Display', sans-serif;
}

h2 {
  margin: 10px;
}

nav {
  margin: 12px;
}
ul {
  text-align: right;
  margin-right: 10px;
  margin-top: 0;
}

nav > img{
  width: 20px;
  margin: 10px;
}

nav a{
  text-decoration: none;
}

nav a:visited {
  color: black;
}

li {
  display: inline;
  margin: 10px;
  font-size: 12px;
}
.logo{
  height: 20px;
  margin: 5px;
}

.logo > img{
  height: 70px;
}
.home-text{
  margin: 12px auto;
  padding: 10px;
  -webkit-column-count: 2;/* Chrome, Safari, Opera */
  -moz-column-count: 2;/* Firefox */
  column-count: 2;
  -webkit-column-gap: 20px;
      -moz-column-gap: 20px;
           column-gap: 10px;
  column-gap: 40px;

}
.home-image {
  margin-top: 30px;
}
.home-image > img {
  margin: 0;
  display: block;
  width: 100%;
  height: 300px;
}

.btm-bar{
  background-image: url('./banner-desktop@1x.png');
  column-count: 3;
  background-color: #030F37;
  color: white;
  height: 7em;
  padding: 20px;
  text-align: center;
}

.btm-bar p{
  line-height: 2em;
  font-size: 18px;
}

.btm-bar > button{

  background-color: #AD0707;
  font-family: inherit;
  font-size: 20px;
  color: white;
  border-radius: 1em;
  width:255px;
  height: 50px;

}
.liftoff-button, .subscribe-button:hover{
  border: 2px solid white;
}

.App {
  background: white;
  color: black;
}

.signup-title {
  margin-top: 0;
  margin-bottom: 16px;;
  padding-top: 30px;
  font-weight: 600;
  font-size: 32px;
  line-height: 47px;
}

.signup-container {
  margin: 0 20px;
}

.signup-body {
  text-align: center;
  background: #030F37;
  padding: 0 25px;
  overflow: auto;
  height: 67vh;
  font-family: 'Inter', sans-serif;
}

.signup-subtitle {
  font-size: 18px;
  line-height: 40px;
  font-weight: 300;
/* or 222% */

  text-align: center;
  letter-spacing: -0.03em;
}

.benefit-text {
  font-weight: normal;
  width: 230px;
  font-size: 20px;
  line-height: 40px;
/* or 200% */

  text-align: center;
  letter-spacing: -0.03em;
  margin-bottom: 0;
}

.benefit-container {
  display: flex;
  flex-direction: column;
  column-count: 4;
  align-items: center;
  margin-top: 37px;
}

input[type=text] {
    width: 100%;
    background: transparent;
    border-color: white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-bottom: 30px;
    color: white;
    height: 35px;
}

::placeholder {
  color: white;
  font-size: 15px;
  line-height: 21px;
}

.signup-subscription {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
  width: 253px;
}

.signup-subscription label {
  display: flex;
  margin-right: 30px;
  flex-direction: row-reverse;
}

.subscription-title {
  text-align: left;
  font-size: 20px;
  line-height: 40px;
/* identical to box height, or 200% */

  letter-spacing: -0.03em;
  margin-top: 0;
  margin-bottom: 14px;
}

.benefit-paragraph {
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
/* identical to box height, or 200% */

text-align: center;
letter-spacing: -0.03em;
}

.liftoff-button {
  margin-top: 50px;
  margin-bottom: 35px;
  width: 255px;
  height: 60px;
  font-size: 25px;
  line-height: 30px;
  color: white;
  background: #AD0707;
  border-radius: 18px;
  border: none;
}

.signup-policy-statement {
  font-size: 15px;
  font-style: normal;
  line-height: 21px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 15px;
}

.signup-spam-statement {
  font-size: 15px;
  margin: 0;
  padding-bottom: 40px;
}

/* ===================== Modal ========================== */
.modal-overlay {
  position: fixed;
  inset: 0px;
  background-color: rgba(255, 255, 255, 0.75);
  overflow: hidden;
}

.modal-content {
  position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    outline: none;
    /* padding: 20px; */
    color: white;
}

.signup-header {
  /* background: rgba(0, 0, 0, 0.75); */
  padding-bottom: 12px;
  background-color: transparent;
  margin-top: 20px;
}

.signup-close-button {
  text-align: right;
}
.signup-close-button button {
  width: 30px;
  border: 0;
  background-color: transparent;
}
.signup-close-button img {
  max-width: 100%;
}

.modal-close-button {
  text-align: right;
}

.modal-close-button button, .modal-close-button2 button {
  background-color: transparent;
  outline: none;
  border: none;
}
/* .modal-close-button2 {
  float: right;
  text-align: right;
  background-color: transparent;
} */

.modal-close-button2 img{
  width: 1em;
  background-color: transparent;
  outline: none;
  border: none;
}


.modal-logo {
  margin-left: 25em;
  margin-top: 50px;
  display: block;
width: 277px;
max-width: 100%;
margin: 0 auto;
}

.benefits{
  display:inline;
}

.thankyou-body {
  height: auto;
}

.thankyou-title {
  margin-top: 35px;
  margin-bottom: 11px;
}

.thankyou-subtitle2 {
  margin-bottom: 75px;
}

@media (max-width: 375px) {

  #root > img {
    margin: 0;
  }
  .home-text > h2 {
    font-size: 60px;
    margin: 0.1em;
  }
  .home-image {
    width: 100%;
    margin: 0;
  }
  .home-text{

    margin: 12px auto;
    padding: 10px;
    column-count: 2;
  }

  .btm-bar{
    background-image: hidden;
    column-count: 1;
    background-color: #030F37;
    color: white;
    margin: 5px;
    padding: 10px;
    text-align: center;
    line-height: 2em;
  }
  .btm-bar > h2 {
    display: none;
  }
  .btm-bar > img{
    visibility: hidden;
  }
}
